<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增子女</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">首頁</a></li>
            <li><a href="{% url 'login' %}">登入</a></li>
            <li><a href="{% url 'analysis' %}">錯題本分析</a></li>
            <li><a href="{% url 'emo' %}">孩子心理狀況</a></li>
            <li><a href="{% url 'add_Child' %}">新增子女</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="form-side">
            <h1 class="main-title">新增子女</h1>
            <form id="addChildForm" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="uID">子女 UID:</label>
                    <input type="text" id="uID" name="uID" required>
                </div>
                <button type="submit">提交</button>
            </form>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

</body>
</html>
