<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>錯題本分析</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/analysis.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">首頁</a></li>
            <li><a href="{% url 'login' %}">登入</a></li>
            <li><a href="{% url 'analysis' %}">錯題本分析</a></li>
            <li><a href="{% url 'emo' %}">孩子心理狀況</a></li>
            <li><a href="{% url 'add_Child' %}">新增子女</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1 class="title">錯題分析</h1>
        <img src="data:image/png;base64,{{ chart_image }}" alt="錯題分析統計圖" class="centered-image">
        
        
        <div class="subject-buttons">
            <a href="{% url 'analysis_subject' '國文' %}" class="subject-btn">國文</a>
            <a href="{% url 'analysis_subject' '英文' %}" class="subject-btn">英文</a>
            <a href="{% url 'analysis_subject' '數學' %}" class="subject-btn active">數學</a>
            <a href="{% url 'analysis_subject' '自然' %}" class="subject-btn">自然</a>
            <a href="{% url 'analysis_subject' '社會' %}" class="subject-btn">社會</a>
        </div>        
    </div>
</body>
</html>
