<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>網頁封面</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">首頁</a></li>
            <li><a href="{% url 'login' %}">登入</a></li>
            <li><a href="{% url 'analysis' %}">錯題本分析</a></li>
            <li><a href="{% url 'emo' %}">孩子心理狀況</a></li>
        </ul>
    </nav>
    <div class="cover">
        <img src="{% static 'images/S__5963840.jpg' %}" alt="封面圖片">
    </div>
</body>
</html>
